
<!doctype html>
<head>
    <title>Super Sprinter 3000 {{ header }}</title>
    <style>
        .story_title {
            height: 20px;
            font-size: 12pt;
            width: 750px;
        }

        .text_area {
            height: 100px;
            width: 750px;
            font-size: 12px;
        }

        .number_input {
            height: 20px;
            width: 5%;
        }

    </style>
</head>

<body>
    <form action="/story/{{user_story.id}}" method="POST">

        <h1>User Story Manager - {{ header }}</h1>

        <label for="story_title">Story Title</label><br>
        <input class="story_title" type="text" name="story_title" id="story_title" value="{{ user_story.title }}" required><br><br>

        <label for="user_story">User Story</label><br>
        <textarea class="text_area" name="user_story" id="user_story" required>{{ user_story.story }}</textarea><br><br>

        <p>Acceptance Criteria</p>
        <textarea class="text_area" name="acceptance_criteria" required>{{ user_story.criteria }}</textarea><br><br>

        <label for="business_value">Business value</label><br>
        <input class="number_input" type="number" name="business_value" id="business_value" min="100" max="1500" step="100" placeholder="100" value="{{ user_story.business_value }}" required><br><br>

        <label for=estimation">Estimation (h)</label><br>
        <input class="number_input" type="number" name="estimation" id="estimation" min="0.5" max="40" step="0.5" placeholder="0.5" value="{{ user_story.estimation }}" required><br><br>

        <label>Status</label><br>
            {% if show_only == True %}
                <select name="status" id="status">
                {% for status in status_options %}
                    <option selected name="status">{{ status.status_options }}</option>
                {% endfor %}
            </select>

            {% else %}

                <select name="status" id="status">
                    {% for status in status_options %}
                        <option name="status" {% if chosen_status == status.status_options %} selected {% endif %}>
                            {{ status.status_options }}</option>
                    {% endfor %}
                </select>
            {% endif %}

        <p><input type="submit" id="submit_button" value="{{ submit_button }}"></p>

    </form>

</body>
</html>