
<!doctype html>
<head>
    <title>User Story Manager</title>
    <style>
        .story_title {
            height: 20px;
            font-size: 12pt;
            width: 750px;
        }

        .text_area {
            height: 100px;
            width: 750px;
            font-size: 12px;
        }

        .number_input {
            height: 20px;
            width: 5%;
        }

    </style>
</head>

<body>
    <form action="{{ url_for('add_new_story') }}" method=post>

        <h1>User Story Manager - Add new User Story</h1>

        <label for="story_title">Story Title</label><br>
        <input class="story_title" type="text" name="story_title" id="story_title"><br><br>

        <label for="user_story">User Story</label><br>
        <textarea class="text_area" name="user_story" id="user_story"></textarea><br><br>

        <p>Acceptance Criteria</p>
        <textarea class="text_area" name="acceptance_criteria"></textarea><br><br>

        <label for="business_value">Business value</label><br>
        <input class="number_input" type="number" name="business_value" id="business_value" min="100" max="1500" step="100" placeholder="100"><br><br>

        <label for=estimation">Estimation (h)</label><br>
        <input class="number_input" type="number" name="estimation" min="0.5" max="40" step="0.5" placeholder="0.5"><br><br>

        <label>Status</label><br>
            <select>
                <option selected name="status">Planning</option>
                <option name="status">To Do</option>
                <option name="status">In Progress</option>
                <option name="status">Review</option>
                <option name="status">Done</option>
            </select>

        <p><input type="submit" value="Create"></p>

    </form>

</body>
</html>