<!DOCTYPE html>
<html>

<head>
    <title>User Story Manager</title>
    <style>
        table {
            width: 75%;
            border-collapse: collapse;
            border: 2px solid black;
        }
        th {
            height: 20px;
            border: 1px solid black;
            text-align: left;
            vertical-align: middle;
        }
        td {
            height: 40px ;
            border: 1px solid black;
            text-align: left;
            vertical-align: middle;
        }
    </style>
</head>

<body>

    <h1>User Story Manager</h1>
        <p><input type="submit" value="Add a new User Story" id="new_user_story_button"></p>
        <table width="75%">
            <tr>
                <th>ID</th>
                <th>Story Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business Value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>
            <tr>
                {% for story in stories %}
                    <td>{{ story.id }}</td>
                    <td>{{ story.title }}</td>
                    <td>{{ story.story }}</td>
                    <td>{{ story.criteria }}</td>
                    <td>{{ story.business_value }}</td>
                    <td>{{ story.estimation }}</td>
                    <td>{{ story.status }}</td>
            </tr>
                {% else %}
                    <strong>No User Story here so far.</strong>
                {% endfor %}

        </table>
</body>